.menu-wrapper .logo .logo-img {
    height: 6.1rem !important;
    width: 6.5rem !important;
}

.menu-wrapper .logo {
    height: 8.5rem !important;
}

.copyright .link-copyright:before {
    content: '' !important;
    background: url('../images/21-logo-copyright.png') 0 0px no-repeat !important;
    width: 24px;
    height: 24px;
}
/* Amasty */
.admin__menu .submenu .parent .submenu-group-title {
    padding: 1.25rem 0 !important;
}
.admin__menu [data-ui-id^="menu-amasty-"] .submenu-group-title span:before, .admin__menu [data-ui-id^="menu-magento-"] [data-ui-id^="menu-magento-"] [data-ui-id^="menu-amasty-"] span:before {
    background: none !important;
    width: 0 !important;
    display: block !important;
}

/* MirasVit */
.notifications-entry {
    padding: 0.1rem 0.8rem !important;
    border-bottom: solid 1px #eee;
}
.admin__action-dropdown-menu > li > a {
    padding: 0.0rem 0.5rem !important;
}