.menu-wrapper .logo .logo-img {
    height: 6.1rem !important;
    width: 6.5rem !important;
}

.menu-wrapper .logo {
    height: 8.5rem !important;
}

.copyright .link-copyright:before {
    content: '' !important;
    background: url('../images/21-logo-copyright.png') 0 0px no-repeat !important;
    width: 24px;
    height: 24px;
}