<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Wm21w_AdminTheme::parent" title="AdminTheme" module="Wm21w_AdminTheme" sortOrder="100" resource="Wm21w_AdminTheme::parent"/>
        <add id="Wm21w_AdminTheme::index" title="AdminTheme Index" module="Wm21w_AdminTheme" sortOrder="10" action="admintheme/index" resource="Wm21w_AdminTheme::index" parent="Wm21w_AdminTheme::parent"/>
		
    </menu>
</config>